@import url('../styles/styledefault.css');

html{
    height: 100%;
    box-sizing: border-box;
  }
  
  body{
    position: relative;
    margin: 0px;
    padding:0px;
    min-height: 100%;
    padding-bottom: 10rem;
    box-sizing: inherit;
  }

.footer{
    height: 15vh;
    background-color: var(--kulayblack);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer .footer-section{
    display: flex;
    justify-content: space-around;
}

.footer .footer-section > div{
    text-align: center;
    color: var(--white);
    padding: 0px;
}