@import url('../styles/styledefault.css');

.product-container{
    width: 70%;
    margin: 120px auto 20px auto;
    display: flex;
    justify-content: space-between;
}

.product-container .category-container{
    width: 20%;
    height: 30%;
    color: var(--kulayblack);
    background-color: var(--white);
    
}

.product-container .category-container h3, ul{
    margin-left: 10%;
}

.product-container .category-container a{
    color: var(--kulayblack);
    padding: 0;
    margin: 0;
}

.product-container .category-container a:hover{
    background-color: var(--kulaygray);
    color: var(--white);
}

.product-container .allproduct{
    width: 77%;
    margin-bottom: 5px;
}

.product-container .allproduct .productheader{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--kulayblack);
}

.product-container .allproduct .productheader h4{
    margin-right: 10px;
} 

.product-container .allproduct .productheader a{
    color: var(--white);
}

.product-container .allproduct .productheader .dropdown{
    position: relative;
}

.product-container .allproduct .productheader .dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.product-container .allproduct .productheader .dropdown .dropdown-content a {
    color: var(--kulayblack);
    padding: 4px 4px;
    text-decoration: none;
    display: block;
}

.product-container .allproduct .productheader .dropdown-content a:hover{
    background-color: #f1f1f1
}

.product-container .allproduct .productheader .dropdown:hover .dropdown-content{
    display: block;
}

.product-container .allproduct .productheader.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

.product-container .allproduct .productheader button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--white);
}

.product-container .allproduct .product-list{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 300px;
}
.product-container .allproduct .product-list .product{
    background-color: var(--white);
}

.product-container .allproduct .product-list .product a {
    color: var(--kulayblack);
}

.product-container .allproduct .product-list .product a .img-container{
    width: 100%;
    height: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.product-container .allproduct .product-list .product a .img-container img{
    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px var(--kulayblack) solid;
    border-radius: 4px;
}

.product-container .allproduct .product-list .product a h4{
    padding: 0;
    margin-top: -10px;
    margin-left: 10%;
}

.product-container .allproduct .product-list .product h3,
.product-container .allproduct .product-list .product p{
    padding: 0;
    margin-top: -10px;
    margin-left: 10%;
}