@import url('../styles/styledefault.css');

.header-section{
    height: 110px;
    background-color: var(--kulayblack);
    color: var(--white);
}

.header-section .header-main{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 100%;
}

.header-section .header-main .logo{
    display: flex;
    flex: 1;
}

.header-section .header-main .logo img{
    width: 150px;
    height: 90px;
}

.header-section .header-main .logo h1{
    display: inline;
    padding: 0;
    margin-top: 40px;
}

.header-section .header-main .follow{
    display: flex;
    align-items: center;
}

.header-section .header-main .follow li{
    font-size: 25px;
    margin: 0 5px;
}

.header-section .header-main .follow img{
    height: 25px;
}